In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
df=pd.read_csv("C:/Users/shree/Desktop/ipl22_report.csv")

In [6]:
df

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata,Group,Kolkata,Field,131,5,133,4,Kolkata,Wickets,6,Umesh Yadav,MS Dhoni,50,Dwayne Bravo,3--20
1,2,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai,Group,Delhi,Field,177,5,179,6,Delhi,Wickets,4,Kuldeep Yadav,Ishan Kishan,81,Kuldeep Yadav,3--18
2,3,"March 27,2022","Dr DY Patil Sports Academy, Mumbai",Banglore,Punjab,Group,Punjab,Field,205,2,208,5,Punjab,Wickets,5,Odean Smith,Faf du Plessis,88,Mohammed Siraj,2--59
3,4,"March 28,2022","Wankhede Stadium, Mumbai",Gujarat,Lucknow,Group,Gujarat,Field,158,6,161,5,Gujarat,Wickets,5,Mohammed Shami,Deepak Hooda,55,Mohammed Shami,3--25
4,5,"March 29,2022","Maharashtra Cricket Association Stadium,Pune",Hyderabad,Rajasthan,Group,Hyderabad,Field,210,6,149,7,Rajasthan,Runs,61,Sanju Samson,Aiden Markram,57,Yuzvendra Chahal,3--22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"May 22,2022","Wankhede Stadium, Mumbai",Hyderabad,Punjab,Group,Hyderabad,Bat,157,8,160,5,Punjab,Wickets,5,Harpreet Brar,Liam Livingstone,49,Harpreet Brar,3--26
70,71,"May 24,2022","Eden Gardens, Kolkata",Gujarat,Rajasthan,Playoff,Gujarat,Field,188,6,191,3,Gujarat,Wickets,7,David Miller,Jos Buttler,89,Hardik Pandya,1--14
71,72,"May 25,2022","Eden Gardens, Kolkata",Banglore,Lucknow,Playoff,Lucknow,Field,207,4,193,6,Banglore,Runs,14,Rajat Patidar,Rajat Patidar,112,Josh Hazlewood,3--43
72,73,"May 27,2022","Narendra Modi Stadium, Ahmedabad",Banglore,Rajasthan,Playoff,Rajasthan,Field,157,8,161,3,Rajasthan,Wickets,7,Jos Buttler,Jos Buttler,106,Prasidh Krishna,3--22
73,74,"May 29,2022","Narendra Modi Stadium, Ahmedabad",Gujarat,Rajasthan,Final,Rajasthan,Bat,130,9,133,3,Gujarat,Wickets,7,Hardik Pandya,Shubman Gill,45,Hardik Pandya,3--17

In [7]:
df.head(4)

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata,Group,Kolkata,Field,131,5,133,4,Kolkata,Wickets,6,Umesh Yadav,MS Dhoni,50,Dwayne Bravo,3--20
1,2,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai,Group,Delhi,Field,177,5,179,6,Delhi,Wickets,4,Kuldeep Yadav,Ishan Kishan,81,Kuldeep Yadav,3--18
2,3,"March 27,2022","Dr DY Patil Sports Academy, Mumbai",Banglore,Punjab,Group,Punjab,Field,205,2,208,5,Punjab,Wickets,5,Odean Smith,Faf du Plessis,88,Mohammed Siraj,2--59
3,4,"March 28,2022","Wankhede Stadium, Mumbai",Gujarat,Lucknow,Group,Gujarat,Field,158,6,161,5,Gujarat,Wickets,5,Mohammed Shami,Deepak Hooda,55,Mohammed Shami,3--25

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   match_id             74 non-null     int64
 1   date                 74 non-null     object
 2   venue                74 non-null     object
 3   team1                74 non-null     object
 4   team2                74 non-null     object
 5   stage                74 non-null     object
 6   toss_winner          74 non-null     object
 7   toss_decision        74 non-null     object
 8   first_ings_score     74 non-null     int64
 9   first_ings_wkts      74 non-null     int64
 10  second_ings_score    74 non-null     int64
 11  second_ings_wkts     74 non-null     int64
 12  match_winner         74 non-null     object
 13  won_by               74 non-null     object
 14  margin               74 non-null     int64
 15  player_of_the_match  74 non-null     object
 16  top_scorer           74 non-null     object
 17  highscore            74 non-null     int64
 18  best_bowling         74 non-null     object
 19  best_bowling_figure  74 non-null     object
dtypes: int64(7), object(13)
memory usage: 11.7+ KB

In [9]:
df.describe()

,match_id,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,margin,highscore
count,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000
mean,37.500000,171.121622,6.135135,158.540541,6.175676,16.972973,71.716216
std,21.505813,29.048355,2.222699,29.299207,2.639832,19.651047,20.705052
min,1.000000,68.000000,0.000000,72.000000,1.000000,2.000000,28.000000
25%,19.250000,154.250000,5.000000,142.750000,4.000000,5.250000,57.000000
50%,37.500000,169.500000,6.000000,160.000000,6.000000,8.000000,68.000000
75%,55.750000,192.750000,8.000000,176.000000,8.000000,18.000000,87.750000
max,74.000000,222.000000,10.000000,211.000000,10.000000,91.000000,140.000000

In [10]:
df.index

RangeIndex(start=0, stop=74, step=1)

In [11]:
df.shape

(74, 20)

In [12]:
df.columns.names

FrozenList([None])

In [13]:
df.columns.values

array(['match_id', 'date', 'venue', 'team1', 'team2', 'stage',
       'toss_winner', 'toss_decision', 'first_ings_score',
       'first_ings_wkts', 'second_ings_score', 'second_ings_wkts',
       'match_winner', 'won_by', 'margin', 'player_of_the_match',
       'top_scorer', 'highscore', 'best_bowling', 'best_bowling_figure'],
      dtype=object)

In [14]:
df.dtypes

match_id                int64
date                   object
venue                  object
team1                  object
team2                  object
stage                  object
toss_winner            object
toss_decision          object
first_ings_score        int64
first_ings_wkts         int64
second_ings_score       int64
second_ings_wkts        int64
match_winner           object
won_by                 object
margin                  int64
player_of_the_match    object
top_scorer             object
highscore               int64
best_bowling           object
best_bowling_figure    object
dtype: object

In [15]:
df.shape

(74, 20)

In [16]:
df.columns

Index(['match_id', 'date', 'venue', 'team1', 'team2', 'stage', 'toss_winner',
       'toss_decision', 'first_ings_score', 'first_ings_wkts',
       'second_ings_score', 'second_ings_wkts', 'match_winner', 'won_by',
       'margin', 'player_of_the_match', 'top_scorer', 'highscore',
       'best_bowling', 'best_bowling_figure'],
      dtype='object')

In [18]:
df.iloc[20]

match_id                                               21
date                                         April11,2022
venue                  Dr DY Patil Sports Academy, Mumbai
team1                                             Gujarat
team2                                           Hyderabad
stage                                               Group
toss_winner                                     Hyderabad
toss_decision                                       Field
first_ings_score                                      162
first_ings_wkts                                         7
second_ings_score                                     168
second_ings_wkts                                        2
match_winner                                    Hyderabad
won_by                                            Wickets
margin                                                  8
player_of_the_match                       Kane Williamson
top_scorer                                Kane Williamson
highscore                                              57
best_bowling                                  T Natarajan
best_bowling_figure                                 2--34
Name: 20, dtype: object

In [19]:
df.toss_winner.iloc[20]

'Hyderabad'

In [20]:
df.iloc[:,3:7]

        team1      team2    stage toss_winner
0     Chennai    Kolkata    Group     Kolkata
1       Delhi     Mumbai    Group       Delhi
2    Banglore     Punjab    Group      Punjab
3     Gujarat    Lucknow    Group     Gujarat
4   Hyderabad  Rajasthan    Group   Hyderabad
..        ...        ...      ...         ...
69  Hyderabad     Punjab    Group   Hyderabad
70    Gujarat  Rajasthan  Playoff     Gujarat
71   Banglore    Lucknow  Playoff     Lucknow
72   Banglore  Rajasthan  Playoff   Rajasthan
73    Gujarat  Rajasthan    Final   Rajasthan

[74 rows x 4 columns]

In [21]:
df.iloc[:101,1:5]

,date,venue,team1,team2
0,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata
1,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai
2,"March 27,2022","Dr DY Patil Sports Academy, Mumbai",Banglore,Punjab
3,"March 28,2022","Wankhede Stadium, Mumbai",Gujarat,Lucknow
4,"March 29,2022","Maharashtra Cricket Association Stadium,Pune",Hyderabad,Rajasthan
...,...,...,...,...
69,"May 22,2022","Wankhede Stadium, Mumbai",Hyderabad,Punjab
70,"May 24,2022","Eden Gardens, Kolkata",Gujarat,Rajasthan
71,"May 25,2022","Eden Gardens, Kolkata",Banglore,Lucknow
72,"May 27,2022","Narendra Modi Stadium, Ahmedabad",Banglore,Rajasthan
73,"May 29,2022","Narendra Modi Stadium, Ahmedabad",Gujarat,Rajasthan

In [22]:
df.iloc[:5,7:6]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [24]:
df.highscore.min()

28

In [26]:
df.second_ings_wkts	.sum()

np.int64(457)