Name: Jiya Jethwani
Batch: B1
Roll No: 13218
Title: Creation of Dataset using Microsoft Excel. Identification and Handling of Outliers

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('C:/Users/shree/Desktop/dsbdaprac2.csv')

In [5]:
df

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
0,60.0,88.0,66,84,2018,2.0
1,73.0,NaN,80,77,2020,2.0
2,65.0,81.0,79,77,2018,2.0
3,NaN,88.0,65,76,2020,2.0
4,NaN,90.0,63,79,2021,2.0
5,NaN,75.0,74,75,2018,2.0
6,73.0,93.0,71,81,2021,2.0
7,NaN,77.0,77,83,2018,NaN
8,70.0,89.0,78,83,2020,NaN
9,72.0,93.0,73,85,2021,NaN
10,78.0,NaN,76,78,2019,NaN
11,67.0,NaN,67,78,2018,2.0
12,76.0,78.0,62,82,2020,2.0
13,70.0,89.0,65,84,2018,2.0
14,70.0,81.0,71,75,2018,2.0
15,66.0,89.0,62,81,2021,2.0
16,77.0,90.0,63,78,2018,2.0
17,60.0,88.0,67,84,2019,2.0
18,63.0,81.0,76,83,2021,2.0
19,75.0,82.0,64,75,2019,2.0
20,61.0,88.0,66,84,2019,2.0
21,62.0,82.0,72,83,2019,2.0
22,64.0,76.0,61,84,2021,2.0
23,62.0,92.0,64,79,2019,2.0
24,60.0,79.0,63,83,2020,2.0
25,74.0,83.0,62,81,2018,2.0
26,68.0,87.0,64,77,2021,2.0
27,71.0,80.0,62,80,2018,2.0
28,60.0,89.0,74,82,2020,2.0
29,63.0,94.0,62,76,2018,2.0
30,74.0,85.0,67,85,2021,3.0
31,65.0,86.0,78,84,2019,2.0

In [12]:
series=pd.isnull(df["Math_Score"])
df[series]

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
3,NaN,88.0,65,76,2020,2.0
4,NaN,90.0,63,79,2021,2.0
5,NaN,75.0,74,75,2018,2.0
7,NaN,77.0,77,83,2018,NaN

In [13]:
df.notnull()

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
0,True,True,True,True,True,True
1,True,False,True,True,True,True
2,True,True,True,True,True,True
3,False,True,True,True,True,True
4,False,True,True,True,True,True
5,False,True,True,True,True,True
6,True,True,True,True,True,True
7,False,True,True,True,True,False
8,True,True,True,True,True,False
9,True,True,True,True,True,False
10,True,False,True,True,True,False
11,True,False,True,True,True,True
12,True,True,True,True,True,True
13,True,True,True,True,True,True
14,True,True,True,True,True,True
15,True,True,True,True,True,True
16,True,True,True,True,True,True
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True
21,True,True,True,True,True,True
22,True,True,True,True,True,True
23,True,True,True,True,True,True
24,True,True,True,True,True,True
25,True,True,True,True,True,True
26,True,True,True,True,True,True
27,True,True,True,True,True,True
28,True,True,True,True,True,True
29,True,True,True,True,True,True
30,True,True,True,True,True,True
31,True,True,True,True,True,True

In [14]:
series1=pd.notnull(df["Math_Score"])
df[series1]

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
0,60.0,88.0,66,84,2018,2.0
1,73.0,NaN,80,77,2020,2.0
2,65.0,81.0,79,77,2018,2.0
6,73.0,93.0,71,81,2021,2.0
8,70.0,89.0,78,83,2020,NaN
9,72.0,93.0,73,85,2021,NaN
10,78.0,NaN,76,78,2019,NaN
11,67.0,NaN,67,78,2018,2.0
12,76.0,78.0,62,82,2020,2.0
13,70.0,89.0,65,84,2018,2.0
14,70.0,81.0,71,75,2018,2.0
15,66.0,89.0,62,81,2021,2.0
16,77.0,90.0,63,78,2018,2.0
17,60.0,88.0,67,84,2019,2.0
18,63.0,81.0,76,83,2021,2.0
19,75.0,82.0,64,75,2019,2.0
20,61.0,88.0,66,84,2019,2.0
21,62.0,82.0,72,83,2019,2.0
22,64.0,76.0,61,84,2021,2.0
23,62.0,92.0,64,79,2019,2.0
24,60.0,79.0,63,83,2020,2.0
25,74.0,83.0,62,81,2018,2.0
26,68.0,87.0,64,77,2021,2.0
27,71.0,80.0,62,80,2018,2.0
28,60.0,89.0,74,82,2020,2.0
29,63.0,94.0,62,76,2018,2.0
30,74.0,85.0,67,85,2021,3.0
31,65.0,86.0,78,84,2019,2.0

In [18]:
ndf=df
ndf.fillna(0)

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
0,60.0,88.0,66,84,2018,2.0
1,73.0,0.0,80,77,2020,2.0
2,65.0,81.0,79,77,2018,2.0
3,0.0,88.0,65,76,2020,2.0
4,0.0,90.0,63,79,2021,2.0
5,0.0,75.0,74,75,2018,2.0
6,73.0,93.0,71,81,2021,2.0
7,0.0,77.0,77,83,2018,0.0
8,70.0,89.0,78,83,2020,0.0
9,72.0,93.0,73,85,2021,0.0
10,78.0,0.0,76,78,2019,0.0
11,67.0,0.0,67,78,2018,2.0
12,76.0,78.0,62,82,2020,2.0
13,70.0,89.0,65,84,2018,2.0
14,70.0,81.0,71,75,2018,2.0
15,66.0,89.0,62,81,2021,2.0
16,77.0,90.0,63,78,2018,2.0
17,60.0,88.0,67,84,2019,2.0
18,63.0,81.0,76,83,2021,2.0
19,75.0,82.0,64,75,2019,2.0
20,61.0,88.0,66,84,2019,2.0
21,62.0,82.0,72,83,2019,2.0
22,64.0,76.0,61,84,2021,2.0
23,62.0,92.0,64,79,2019,2.0
24,60.0,79.0,63,83,2020,2.0
25,74.0,83.0,62,81,2018,2.0
26,68.0,87.0,64,77,2021,2.0
27,71.0,80.0,62,80,2018,2.0
28,60.0,89.0,74,82,2020,2.0
29,63.0,94.0,62,76,2018,2.0
30,74.0,85.0,67,85,2021,3.0
31,65.0,86.0,78,84,2019,2.0

In [19]:
df.info

<bound method DataFrame.info of     Math_Score  Reading_score  Writing_score  Placement_score  Club_Join_Date  \
0         60.0           88.0             66               84            2018
1         73.0            NaN             80               77            2020
2         65.0           81.0             79               77            2018
3          NaN           88.0             65               76            2020
4          NaN           90.0             63               79            2021
5          NaN           75.0             74               75            2018
6         73.0           93.0             71               81            2021
7          NaN           77.0             77               83            2018
8         70.0           89.0             78               83            2020
9         72.0           93.0             73               85            2021
10        78.0            NaN             76               78            2019
11        67.0            NaN             67               78            2018
12        76.0           78.0             62               82            2020
13        70.0           89.0             65               84            2018
14        70.0           81.0             71               75            2018
15        66.0           89.0             62               81            2021
16        77.0           90.0             63               78            2018
17        60.0           88.0             67               84            2019
18        63.0           81.0             76               83            2021
19        75.0           82.0             64               75            2019
20        61.0           88.0             66               84            2019
21        62.0           82.0             72               83            2019
22        64.0           76.0             61               84            2021
23        62.0           92.0             64               79            2019
24        60.0           79.0             63               83            2020
25        74.0           83.0             62               81            2018
26        68.0           87.0             64               77            2021
27        71.0           80.0             62               80            2018
28        60.0           89.0             74               82            2020
29        63.0           94.0             62               76            2018
30        74.0           85.0             67               85            2021
31        65.0           86.0             78               84            2019

    Placement_Offer_Count
0                     2.0
1                     2.0
2                     2.0
3                     2.0
4                     2.0
5                     2.0
6                     2.0
7                     NaN
8                     NaN
9                     NaN
10                    NaN
11                    2.0
12                    2.0
13                    2.0
14                    2.0
15                    2.0
16                    2.0
17                    2.0
18                    2.0
19                    2.0
20                    2.0
21                    2.0
22                    2.0
23                    2.0
24                    2.0
25                    2.0
26                    2.0
27                    2.0
28                    2.0
29                    2.0
30                    3.0
31                    2.0  >

In [20]:
df.fillna(25)

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
0,60.0,88.0,66,84,2018,2.0
1,73.0,25.0,80,77,2020,2.0
2,65.0,81.0,79,77,2018,2.0
3,25.0,88.0,65,76,2020,2.0
4,25.0,90.0,63,79,2021,2.0
5,25.0,75.0,74,75,2018,2.0
6,73.0,93.0,71,81,2021,2.0
7,25.0,77.0,77,83,2018,25.0
8,70.0,89.0,78,83,2020,25.0
9,72.0,93.0,73,85,2021,25.0
10,78.0,25.0,76,78,2019,25.0
11,67.0,25.0,67,78,2018,2.0
12,76.0,78.0,62,82,2020,2.0
13,70.0,89.0,65,84,2018,2.0
14,70.0,81.0,71,75,2018,2.0
15,66.0,89.0,62,81,2021,2.0
16,77.0,90.0,63,78,2018,2.0
17,60.0,88.0,67,84,2019,2.0
18,63.0,81.0,76,83,2021,2.0
19,75.0,82.0,64,75,2019,2.0
20,61.0,88.0,66,84,2019,2.0
21,62.0,82.0,72,83,2019,2.0
22,64.0,76.0,61,84,2021,2.0
23,62.0,92.0,64,79,2019,2.0
24,60.0,79.0,63,83,2020,2.0
25,74.0,83.0,62,81,2018,2.0
26,68.0,87.0,64,77,2021,2.0
27,71.0,80.0,62,80,2018,2.0
28,60.0,89.0,74,82,2020,2.0
29,63.0,94.0,62,76,2018,2.0
30,74.0,85.0,67,85,2021,3.0
31,65.0,86.0,78,84,2019,2.0

In [21]:
df.min

<bound method DataFrame.min of     Math_Score  Reading_score  Writing_score  Placement_score  Club_Join_Date  \
0         60.0           88.0             66               84            2018
1         73.0            NaN             80               77            2020
2         65.0           81.0             79               77            2018
3          NaN           88.0             65               76            2020
4          NaN           90.0             63               79            2021
5          NaN           75.0             74               75            2018
6         73.0           93.0             71               81            2021
7          NaN           77.0             77               83            2018
8         70.0           89.0             78               83            2020
9         72.0           93.0             73               85            2021
10        78.0            NaN             76               78            2019
11        67.0            NaN             67               78            2018
12        76.0           78.0             62               82            2020
13        70.0           89.0             65               84            2018
14        70.0           81.0             71               75            2018
15        66.0           89.0             62               81            2021
16        77.0           90.0             63               78            2018
17        60.0           88.0             67               84            2019
18        63.0           81.0             76               83            2021
19        75.0           82.0             64               75            2019
20        61.0           88.0             66               84            2019
21        62.0           82.0             72               83            2019
22        64.0           76.0             61               84            2021
23        62.0           92.0             64               79            2019
24        60.0           79.0             63               83            2020
25        74.0           83.0             62               81            2018
26        68.0           87.0             64               77            2021
27        71.0           80.0             62               80            2018
28        60.0           89.0             74               82            2020
29        63.0           94.0             62               76            2018
30        74.0           85.0             67               85            2021
31        65.0           86.0             78               84            2019

    Placement_Offer_Count
0                     2.0
1                     2.0
2                     2.0
3                     2.0
4                     2.0
5                     2.0
6                     2.0
7                     NaN
8                     NaN
9                     NaN
10                    NaN
11                    2.0
12                    2.0
13                    2.0
14                    2.0
15                    2.0
16                    2.0
17                    2.0
18                    2.0
19                    2.0
20                    2.0
21                    2.0
22                    2.0
23                    2.0
24                    2.0
25                    2.0
26                    2.0
27                    2.0
28                    2.0
29                    2.0
30                    3.0
31                    2.0  >

In [24]:
df.tail(5)

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
27,71.0,80.0,62,80,2018,2.0
28,60.0,89.0,74,82,2020,2.0
29,63.0,94.0,62,76,2018,2.0
30,74.0,85.0,67,85,2021,3.0
31,65.0,86.0,78,84,2019,2.0

In [25]:
df.head(6)

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
0,60.0,88.0,66,84,2018,2.0
1,73.0,NaN,80,77,2020,2.0
2,65.0,81.0,79,77,2018,2.0
3,NaN,88.0,65,76,2020,2.0
4,NaN,90.0,63,79,2021,2.0
5,NaN,75.0,74,75,2018,2.0

In [26]:
df.describe()

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
count,28.000000,29.000000,32.000000,32.000000,32.000000,28.000000
mean,67.821429,85.275862,68.562500,80.500000,2019.343750,2.035714
std,5.831292,5.463493,6.158851,3.321484,1.207754,0.188982
min,60.000000,75.000000,61.000000,75.000000,2018.000000,2.000000
25%,62.750000,81.000000,63.000000,77.750000,2018.000000,2.000000
50%,67.500000,87.000000,66.500000,81.000000,2019.000000,2.000000
75%,73.000000,89.000000,74.000000,83.250000,2020.250000,2.000000
max,78.000000,94.000000,80.000000,85.000000,2021.000000,3.000000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Math_Score             28 non-null     float64
 1   Reading_score          29 non-null     float64
 2   Writing_score          32 non-null     int64
 3   Placement_score        32 non-null     int64
 4   Club_Join_Date         32 non-null     int64
 5   Placement_Offer_Count  28 non-null     float64
dtypes: float64(3), int64(3)
memory usage: 1.6 KB

In [28]:
df.Math_Score.fillna(34)

0     60.0
1     73.0
2     65.0
3     34.0
4     34.0
5     34.0
6     73.0
7     34.0
8     70.0
9     72.0
10    78.0
11    67.0
12    76.0
13    70.0
14    70.0
15    66.0
16    77.0
17    60.0
18    63.0
19    75.0
20    61.0
21    62.0
22    64.0
23    62.0
24    60.0
25    74.0
26    68.0
27    71.0
28    60.0
29    63.0
30    74.0
31    65.0
Name: Math_Score, dtype: float64

In [29]:
df.columns.values

array(['Math_Score', 'Reading_score', 'Writing_score', 'Placement_score',
       'Club_Join_Date', 'Placement_Offer_Count'], dtype=object)

In [30]:
df.iloc[13]

Math_Score                 70.0
Reading_score              89.0
Writing_score              65.0
Placement_score            84.0
Club_Join_Date           2018.0
Placement_Offer_Count       2.0
Name: 13, dtype: float64

In [33]:
df.iloc[:,3:4]

    Placement_score
0                84
1                77
2                77
3                76
4                79
5                75
6                81
7                83
8                83
9                85
10               78
11               78
12               82
13               84
14               75
15               81
16               78
17               84
18               83
19               75
20               84
21               83
22               84
23               79
24               83
25               81
26               77
27               80
28               82
29               76
30               85
31               84

In [34]:
df.Math_Score.fillna(34, inplace=True)

C:\Users\shree\AppData\Local\Temp\ipykernel_3808\2270967886.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Math_Score.fillna(34, inplace=True)

In [35]:
df.Math_Score.isna().sum()

np.int64(0)

In [36]:
df

,Math_Score,Reading_score,Writing_score,Placement_score,Club_Join_Date,Placement_Offer_Count
0,60.0,88.0,66,84,2018,2.0
1,73.0,NaN,80,77,2020,2.0
2,65.0,81.0,79,77,2018,2.0
3,34.0,88.0,65,76,2020,2.0
4,34.0,90.0,63,79,2021,2.0
5,34.0,75.0,74,75,2018,2.0
6,73.0,93.0,71,81,2021,2.0
7,34.0,77.0,77,83,2018,NaN
8,70.0,89.0,78,83,2020,NaN
9,72.0,93.0,73,85,2021,NaN
10,78.0,NaN,76,78,2019,NaN
11,67.0,NaN,67,78,2018,2.0
12,76.0,78.0,62,82,2020,2.0
13,70.0,89.0,65,84,2018,2.0
14,70.0,81.0,71,75,2018,2.0
15,66.0,89.0,62,81,2021,2.0
16,77.0,90.0,63,78,2018,2.0
17,60.0,88.0,67,84,2019,2.0
18,63.0,81.0,76,83,2021,2.0
19,75.0,82.0,64,75,2019,2.0
20,61.0,88.0,66,84,2019,2.0
21,62.0,82.0,72,83,2019,2.0
22,64.0,76.0,61,84,2021,2.0
23,62.0,92.0,64,79,2019,2.0
24,60.0,79.0,63,83,2020,2.0
25,74.0,83.0,62,81,2018,2.0
26,68.0,87.0,64,77,2021,2.0
27,71.0,80.0,62,80,2018,2.0
28,60.0,89.0,74,82,2020,2.0
29,63.0,94.0,62,76,2018,2.0
30,74.0,85.0,67,85,2021,3.0
31,65.0,86.0,78,84,2019,2.0